<h4><%= @user.username%></h4>
First Name: <%= @user.first_name%> |
Last Name: <%= @user.last_name%> |
Username: <%= @user.username%> |
Email: <%= @user.email%> |
Joined: <%= @user.created_at%> |
Questions Asked: <%= @user.questions.count%> |
Questions Answered: <%= @user.answers.count%> |
